* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f5f8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.head {
    width: 89%;
    margin: 1rem auto 1rem;
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.5rem 0;
    span {
        position: relative;
        &::after {
            position: absolute;
            bottom: -0.3rem;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 0.75rem;
            height: 0.15rem;
            border-radius: 0.15rem;
            background-color: #08e983;
        }
    }
}

.info {
    width: 89%;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    .logoInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .user {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
        }
        .logoSubInfo {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 75%;
            .aa {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                h3 {
                    font-size: 0.9rem;
                }
                img {
                    width: 2rem;
                }
            }
            .bb {
                text-align: center;
                font-size: 0.7rem;
                .n {
                    font-size: 0.9rem;
                }
            }
        }
    }
    .logoAction {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.8rem;
            li {
                a {
                    height: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    svg {
                        width: 0.9rem;
                        height: 0.9rem;
                        margin-right: 0.2rem;
                        color: #2d2d2d;
                    }
                    span {
                        align-content: center;
                        display: block;
                        color: #2d2d2d;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

.qqAction {
    margin-top: 1rem;
    ul {
        display: flex;
        justify-content: space-evenly;
        li {
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;
            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: #5e5e5e;
            }
            h4 {
                font-size: 0.9rem;
                font-weight: 500;
                margin: 0.25rem 0;
                color: #2d2d2d;
            }
            p {
                font-size: 0.7rem;
                color: #777b7e;
            }
        }
    }
}

.rPlayed {
    margin-top: 1rem;
    .topT {
        width: 89%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 0.9rem;
        }
        svg {
            width: 1rem;
            height: 1rem;
            fill: #767a7d;
        }
    }
    .listCon {
        margin-top: 0.6rem;
        .lists {
            padding: 0 1rem;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                &:not(:last-child) {
                    margin-right: 0.6rem;
                }
                .musicInfo {
                    width: 5rem;
                    position: relative;
                    .musicCover {
                        border-radius: 0.5rem;
                        width: 100%;
                        height: 5rem;
                        object-fit: cover;
                    }
                    #playButton {
                        position: absolute;
                        top: 3.8rem;
                        left: 0.2rem;
                        width: 1rem;
                        height: 1rem;
                        fill: white;
                    }
                }
                .title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    font-size: 0.75rem;
                    color: rgba(26, 26, 26, 1);
                    font-weight: 400;
                }
            }
        }
    }
}

.playList {
    width: 89%;
    margin: 1rem auto 2rem;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            span {
                font-size: 0.9rem;
            }
            svg {
                width: 1rem;
                height: 1rem;
                fill: #767a7d;
            }
        }
    }
    p {
        text-align: center;
        font-size: 0.7rem;
        margin-top: 1rem;
    }
}
