* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body {
  background: #f9f9f9;
  padding-bottom: 4rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 990;
  background: #fafafa;
}

.topTitle {
  height: 2.7rem;
  display: flex;
  padding: 0.1rem 0.7rem 0 0.8rem;
}
.topTitle img {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.72rem 0.5rem;
}
.topTitle .titleText {
  font-size: 0.8rem;
  line-height: 1.5;
  width: 10rem;
}
.topTitle .titleText .text1 {
  color: #000;
}
.topTitle .titleText .text2 {
  color: #808080;
}
.topTitle a {
  height: 1.25rem;
  line-height: 1.2rem;
  padding: 0 0.85rem;
  margin: 0.72rem 0;
  font-size: 0.7rem;
  text-align: center;
  color: #575656;
  border: solid 1px #d8d8d8;
  border-radius: 999px;
}

.topTable {
  width: 100%;
  height: 2.1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 10px -8px #aaa;
}
.topTable li {
  height: 100%;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #1a1a1a;
  opacity: 0.4;
}

#active {
  color: #22d59c;
  border-bottom: 0.15rem solid #22d59c;
}

.details {
  display: none;
}

.detail {
  background: #f5f5f5;
}

.search {
  width: 17.1rem;
  height: 1.7rem;
  margin: 0.8rem auto;
  padding: 0.25rem 7rem;
  border-radius: 1rem;
  background: #fff;
}
.search .searchContent {
  display: flex;
  align-items: center;
}
.search .searchContent svg {
  fill: #a2a2a2;
  margin-right: 0.2rem;
}
.search .searchContent span {
  color: #a2a2a2;
  text-align: center;
  font-size: 0.6rem;
}

.recLists {
  padding: 0 0.75rem;
}
.recLists .title {
  height: 1.5rem;
  margin: 0.8rem 0 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.recLists .title p {
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
}
.recLists .title a span {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  color: #818894;
  margin-right: -0.2rem;
}
.recLists .title a svg {
  margin-top: -0.05rme;
}
.recLists .recListsDetail {
  display: flex;
  padding: 0.5rem 0;
  display: flex;
  overflow: auto;
}
.recLists .recListsDetail::-webkit-scrollbar {
  display: none;
}
.recLists .recListsDetail .lists {
  flex: 0 0 5.45rem;
  position: relative;
  width: 5.45rem;
  height: 7.5rem;
  margin-right: 0.4rem;
}
.recLists .recListsDetail .lists .list img {
  width: 100%;
  border-radius: 10px;
}
.recLists .recListsDetail .lists .list p {
  margin-top: 0.2rem;
  font-size: 0.6rem;
  color: #1a1a1a;
  line-height: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.recLists .recListsDetail .lists .list .listData {
  height: 0.85rem;
  line-height: 0.85rem;
  min-width: 0.7rem;
  position: absolute;
  bottom: 2.11rem;
  right: 0rem;
  padding: 0 0.3rem;
  border-radius: 0.45rem;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
}
.recLists .recListsDetail .lists .list .listData svg {
  width: 0.9rem;
  height: 0.9rem;
}
.recLists .recListsDetail .lists .list .listData span {
  margin-left: -0.1rem;
  font-size: 0.5rem;
  color: #fff;
}

.zoneLists {
  padding: 0 0.75rem;
}
.zoneLists .title {
  height: 1.5rem;
  margin: 0.8rem 0 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.zoneLists .title p {
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
}
.zoneLists .title a span {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  color: #818894;
  margin-right: -0.2rem;
}
.zoneLists .title a svg {
  margin-top: -0.05rme;
}
.zoneLists .zoneListsDetail {
  display: flex;
  padding: 0.5rem 0;
  display: flex;
  overflow: auto;
}
.zoneLists .zoneListsDetail::-webkit-scrollbar {
  display: none;
}
.zoneLists .zoneListsDetail .lists {
  flex: 0 0 11.3rem;
  width: 11.3rem;
  margin-right: 0.4rem;
}
.zoneLists .zoneListsDetail .lists .list .listImg {
  position: relative;
}
.zoneLists .zoneListsDetail .lists .list .listImg img {
  width: 100%;
  border-radius: 10px;
}
.zoneLists .zoneListsDetail .lists .list .listImg .imgBottom {
  position: absolute;
  bottom: 0.7rem;
  left: 0.4rem;
  display: flex;
}
.zoneLists .zoneListsDetail .lists .list .listImg .imgBottom img {
  width: 1.7rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}
.zoneLists .zoneListsDetail .lists .list .listImg .imgBottom p {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.7rem;
}
.zoneLists .zoneListsDetail .lists .list .titleTxt {
  color: #1a1a1a;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.ulRank {
  margin-top: 0.8rem;
}
.ulRank .block {
  width: 90%;
  background: #fff;
  margin: 0 auto 0.6rem;
  height: 5.3rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.ulRank .block .blockLeft {
  width: 11rem;
  font-size: 0.8rem;
  margin: 0 12px 4px;
  padding: 0.5rem 0;
}
.ulRank .block .blockLeft h2 {
  font-size: 0.8rem;
}
.ulRank .block .blockLeft p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ulRank .block .blockLeft .p1-1 {
  font-weight: bold;
}
.ulRank .block .blockLeft .p1-3 {
  color: rgba(26, 26, 26, 0.5);
}
.ulRank .block .blockRight {
  width: 5.3rem;
  height: 5.3rem;
  position: relative;
}
.ulRank .block .blockRight img {
  width: 100%;
}
.ulRank .block .blockRight .dailyNew {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 1.5rem;
  padding: 0.1rem 0.2rem;
  font-size: 0.5rem;
  color: #fff;
}
.ulRank .block .blockRight .iconData {
  height: 1.1rem;
  position: absolute;
  bottom: 0.18rem;
  right: 0;
  padding: 0 0.4rem 0.1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
  font-size: 0.5rem;
  color: #fff;
}

.bottomInfo {
  padding: 1rem 0.75rem 1rem;
  margin-top: 1.5rem;
}
.bottomInfo img {
  width: 4rem;
  margin: 0 6.5rem;
}
.bottomInfo p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #1a1a1a;
  text-align: center;
}

#footerNav {
  transition: all 0.3s;
  background-color: #f8f8f8;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 11px 0.1rem rgba(168, 168, 168, 0.322);
}
#footerNav .con {
  width: 90%;
  margin: 0 auto;
}
#footerNav a {
  text-decoration: none;
}
#footerNav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footerNav ul .footerTab {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
}
#footerNav ul .footerTab h4 {
  font-weight: 400;
  font-size: 0.5rem;
  margin-top: 0.15rem;
  color: #666;
}
#footerNav ul svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(67, 67, 67, 0.8705882353);
}
#footerNav #fillAll {
  display: none;
}/*# sourceMappingURL=index.css.map */